.outside{
    background-color: #4CAF50;
    min-width: 400px;
    width: 410px;
    height: 406px;
    border-radius: 10px;
    padding: 10px 10px 19px 10px;
}
.within{
    background-color: white;
    height: 363px;
    padding: 1px 0 0 0;
    width: 408px;
    position: absolute;
    margin-top: 45px;
    margin-left: 10px;
}
.cells{
    background-color: #ebebeb;
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    margin-left: 1px;
    margin-bottom: 1px;
    -webkit-transition-duration: 0.1s; 
    -o-transition-duration: 0.1s;  
}
.row{
   display: flex;
}
.cells.disable:hover {
    background-color: #d8d8d8;
}
.button{
    background-color: #f4511e;
    border: none;
    width: 86px;
    height: 20px;
    border-radius: 10px;
    font-size: 14px;
    font-family: "MyriadPro-Regular";
    cursor: pointer;
    color: white;
    outline: none;
}
.button2:hover{
    background-color: #e0491a;
}
.button1:hover{
    background-color: #07789d;
}
.button1{
    background-color: #008CBA;
}
.button2{
    margin-left: 5px;
}
.outside>.cont{
    background-color: white;
    width: 173px;
    height: auto;
    display: flex;
    padding: 3px 3px 3px 3px;
    border-radius: 15px;
    margin-left: 118px;
    margin-bottom: 10px;
}
.button1:active{
    background-color: #075872;
}
.button2:active{
    background-color: #983111;
}
.cells.enable{
    background-color: #3c8ad8;
    -webkit-transition-duration: 0.1s; 
    -o-transition-duration: 0.1s; 
    -moz-transition-duration: 0.1s; 
    transition-duration: 0.1s;
}
.main{
    display: flex;
    margin-left: 35%;
    margin-top: 10%;
}
.conclusions{
    display: flex;
    position: absolute;
    margin-top: 414px;
    margin-left: 315px;
    height: 18px;
}
.conclusions >.cont{
    background-color: white;
    text-align: center;
    font-family: "MyriadPro-Regular";
    font-size: 13px;
    width: 40px;
    height: 16px;
    border-radius: 15px;
    margin-right: 5px;
}








