

.within {
    background-color: white;
    height: 363px;
    padding: 1px 0 0 0;
    width: 408px;
    position: absolute;
    margin-top: 45px;
    margin-left: 10px;
}

.cells {
    background-color: #ebebeb;
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    margin-left: 1px;
    margin-bottom: 1px;
}

.row {
    display: -webkit-flex;
    display: flex;
}

.cells.disable:hover {
    background-color: #d8d8d8;
}



.cells.enable {
    background-color: #3c8ad8;
}

.app {
    display: -webkit-flex;
    display: flex;
    margin-left: 35%;
    margin-top: 10%;
}

.conclusions {
    display: flex;
    position: absolute;
    margin-top: 414px;
    margin-left: 315px;
    height: 18px;
}

.conclusions > .cont {
    background-color: white;
    text-align: center;
    font-family: "MyriadPro", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 13px;
    width: 40px;
    height: 15px;
    border-radius: 15px;
    margin-right: 5px;
}
