@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
			 url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"),
			 url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg") format('svg');
	font-style: 400;
	font-weight: normal;
}
